body {
  color: #f4e7d4;
  background-color: #0c0c0c;
  font-family: Apfelgrotezk, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.1;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.35;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Apfelgrotezk, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.1875;
}

h6 {
  color: #f4e7d4;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.33333;
}

p {
  margin-bottom: 10px;
}

a {
  color: #f4e7d4;
  text-decoration: none;
}

.page-padding {
  padding-left: 12.5rem;
  padding-right: 12.5rem;
}

.nav_component {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #f4e7d4;
  transition: transform .4s;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.nav_component.is-hidden {
  transform: translate(0, -100%);
}

.nav-padding {
  padding-left: 8.125rem;
  padding-right: 8.125rem;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container.is-hero {
  padding-top: 13.5rem;
}

.container.is-nav {
  max-width: none;
}

.container.is-work {
  padding-top: 18rem;
}

.container.is-footer {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.container.is-contact {
  padding-top: 16rem;
}

.container.is-about {
  padding-top: 15rem;
}

.container.is--about {
  padding-top: 16.5rem;
}

.container.is-swiper {
  padding-top: 10rem;
  position: relative;
  overflow: visible;
}

.container.is-work_marquee {
  padding-top: 10rem;
}

.container.is-projects_title {
  padding-top: 7rem;
}

.container.is-projects_list {
  padding-top: 8rem;
}

.container.is-projects-footer {
  padding-top: 9.5rem;
  padding-bottom: 2rem;
}

.container.is-footer-copy {
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.nav_content {
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.hero_content1 {
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.hero_content1.fade-up {
  width: 100%;
}

.red-text {
  color: #e0856c;
}

.hero_content2 {
  max-width: 31.5rem;
  margin-top: 9.5rem;
}

.info_1 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.info_line {
  height: 2px;
  background-color: #f4e7d4;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.info_2 {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.heading {
  font-weight: 400;
}

.work-padding {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.work_description {
  width: 28.61%;
  margin-top: 1px;
}

.work_line {
  height: 1px;
  background-color: rgba(244, 231, 212, .1);
  margin-bottom: 1rem;
}

.work_item {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: .75rem;
  display: flex;
}

.work_visual {
  width: 68.91%;
}

.work_img {
  padding-top: 72.71%;
  position: relative;
}

.work_image {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.project_type {
  width: 5rem;
  height: 1.5rem;
  background-color: #e0856c;
  justify-content: center;
  align-items: center;
  display: flex;
}

.type_title {
  color: #1e1e1e;
  font-size: .625rem;
  font-weight: 400;
}

.project_title {
  margin-top: 1rem;
  overflow: hidden;
}

.project_description {
  margin-top: 2.25rem;
}

.work_description_line {
  width: 100%;
  height: 1px;
  background-color: rgba(244, 231, 212, .1);
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.work_footer {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.case_study_button {
  width: 8.75rem;
  height: 2.5rem;
  outline-offset: 0px;
  border-radius: 80px;
  outline: 1.5px solid #f4e7d4;
  justify-content: center;
  align-items: center;
  display: flex;
}

.button_content {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.arrow {
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  display: flex;
  position: relative;
}

.project-descrption_text {
  font-weight: 400;
}

.foot-cta_wrapper {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.foot-headline {
  justify-content: center;
  align-items: center;
  margin-right: .7rem;
  font-family: Pprightgrotesk, sans-serif;
  font-size: 4.5rem;
}

.cta_content {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.cta_link {
  margin-top: 2.25rem;
}

.cta_button {
  width: 160px;
  height: 160px;
  background-color: #e0856c;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color .3s;
  display: flex;
}

.cta_button:hover {
  background-color: #f4e7d4;
}

.cta_button-text {
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  display: flex;
}

.email_me {
  color: #1e1e1e;
  font-family: Pprightgrotesk, sans-serif;
  line-height: 1.14286;
}

.arrow_container {
  width: 1.2rem;
  height: 1.2rem;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 2px;
  margin-left: .3rem;
  display: flex;
}

.image {
  display: block;
}

.email_me-container {
  justify-content: center;
  align-items: stretch;
}

.lottie_animation {
  width: 100%;
  height: 100%;
}

.email-section {
  width: 14.5rem;
  cursor: pointer;
  margin-top: 11rem;
  position: relative;
  overflow: hidden;
}

.copy-email {
  display: block;
  overflow: hidden;
}

.copy-email_text {
  color: #999;
  font-family: Apfelgrotezk, sans-serif;
  font-size: .625rem;
  transform: translate(0, 101%);
}

.email_text {
  margin-top: .75rem;
}

.email_line {
  height: 1px;
  background-color: #f4e7d4;
  border-radius: 0;
  justify-content: flex-start;
  margin-top: .75rem;
  display: flex;
  transform: translate(-101%);
}

.footer_content {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.footer_right {
  display: flex;
}

.social_links {
  margin-left: 4rem;
}

.about {
  justify-content: center;
  align-items: center;
}

.abt_content {
  justify-content: space-between;
  display: flex;
}

.abt_left {
  width: 50%;
}

.abt_right {
  padding-top: 2rem;
}

.abt_right-line {
  height: 1px;
  background-color: #f4e7d4;
  margin-top: .375rem;
  margin-bottom: .375rem;
}

.abt_button {
  width: 15.5rem;
  height: 4.5rem;
  background-color: #e0856c;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  transition: background-color .3s;
  display: flex;
}

.abt_button:hover {
  background-color: #f4e7d4;
}

.view_work {
  color: #1e1e1e;
}

.fs-copyclip_wrapper {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  align-items: center;
  justify-items: start;
  display: grid;
  position: relative;
}

.fs-copyclip_button {
  color: #fff;
  text-align: center;
  background-color: #5c2aff;
  border-radius: 500px;
  padding: .6rem 2rem .65rem;
}

.fs-copyclip_button:hover {
  background-color: #6739ff;
}

.fs-copyclip_text {
  color: #acacac;
}

.gif_span {
  width: 5.44rem;
  height: 3.5rem;
  margin-bottom: -.3rem;
  margin-left: .8rem;
  margin-right: .8rem;
  display: inline-block;
  position: relative;
}

.gif_span.is--2, .gif_span.is--3 {
  margin-right: 0;
}

.image-2 {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.span-element {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.text-size-h2 {
  font-size: 3.5rem;
  line-height: 1.1;
}

.hide-this {
  justify-content: center;
  align-items: center;
  display: none;
}

.title-container {
  width: 100%;
  margin-bottom: .1rem;
  position: relative;
}

.hero-title-heading {
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.12;
  position: relative;
}

.hero-title-heading.is--2 {
  justify-content: space-between;
}

.gif_span2 {
  width: 5.44rem;
  height: 3.5rem;
  flex: 1;
  margin-bottom: -.5rem;
  margin-left: 1.4rem;
  margin-right: 0;
  display: inline-block;
  position: relative;
}

.gif_span2.is--2, .gif_span2.is--3 {
  margin-right: 0;
}

.gif_span3 {
  width: 5.44rem;
  height: 3.5rem;
  flex: 1;
  margin-bottom: -.5rem;
  margin-left: .8rem;
  margin-right: 0;
  display: inline-block;
  position: relative;
}

.gif_span3.is--2, .gif_span3.is--3 {
  margin-right: 0;
}

.text-span-2 {
  color: #e0856c;
}

.img_animation, .img_animation2 {
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #0c0c0c;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: auto;
  right: 0%;
}

.cursor {
  z-index: 3000;
  width: 100%;
  height: 100vh;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: opacity .275s;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cursor_dot {
  width: 1rem;
  height: 1rem;
  border: 2px solid #f4e7d4;
  border-radius: 100vw;
  transition: height .2s, width .2s, background-color .3s;
}

.cursor_dot.link-hover {
  width: 3rem;
  height: 3rem;
  background-color: #f4e7d4;
}

.preoloader-wrapper {
  z-index: 9999999;
  background-color: #0c0c0c;
  justify-content: center;
  align-items: center;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.lottie-animation {
  width: 100px;
}

.about_content {
  z-index: 5;
  width: 100%;
  max-width: 65rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.about_text {
  text-align: center;
  font-family: Apfelgrotezk, sans-serif;
  font-size: 2rem;
  font-weight: 400;
}

.about-padding {
  padding-left: 8.125rem;
  padding-right: 8.125rem;
}

.about_links {
  justify-content: center;
  align-items: flex-start;
  margin-top: 4.5rem;
  display: flex;
}

.about_description {
  justify-content: center;
  align-items: center;
}

.abt_social-links {
  padding-bottom: .25rem;
  position: relative;
  overflow: hidden;
}

.about_slash-big {
  padding-left: 2rem;
  padding-right: 2rem;
}

.about_links-line {
  width: 100%;
  height: 1px;
  background-color: #f4e7d4;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.about_social-links {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.about_container {
  justify-content: center;
  align-items: center;
  display: flex;
}

.marquee {
  z-index: 4;
  width: 100%;
  margin-top: -4rem;
  position: absolute;
  overflow: hidden;
}

.marquee_wrapper {
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.marquee_text {
  color: rgba(244, 231, 212, .05);
  white-space: nowrap;
  font-size: 20vw;
  line-height: 1.3;
  display: inline-block;
}

.footer-text_size {
  letter-spacing: .2px;
  font-family: Apfelgrotezk, sans-serif;
  text-decoration: none;
}

.slider {
  width: 100vw;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.swiper {
  justify-content: center;
  align-items: center;
}

.swiper.swiper-component {
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.swiper-wrapper.is-style {
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.item {
  width: 21rem;
  overflow: hidden;
}

.slider_img-height {
  padding-top: 135.71%;
  position: relative;
}

.slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.inner-slider {
  width: 235rem;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

.marquee-text_projects {
  color: rgba(244, 231, 212, .05);
  white-space: nowrap;
  font-size: 8vw;
  line-height: 1;
  display: inline-block;
}

.projects-headng {
  width: 78.89%;
  max-width: 48.25rem;
}

.recent-title {
  width: 6.04%;
  padding-top: .7rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.projects-padding {
  padding-left: 8.125rem;
  padding-right: 8.125rem;
}

.projects-title_heading {
  justify-content: center;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.projects-title_description {
  justify-content: center;
  margin-top: 3rem;
  display: flex;
}

.projects-headng_desc {
  width: 78.89%;
  max-width: 48.25rem;
  justify-content: space-between;
  display: flex;
}

.projects-title_h6 {
  width: 22.6rem;
  font-family: Poppins, sans-serif;
  font-weight: 300;
  line-height: 1.6;
}

.text-span-3 {
  color: #e0856c;
}

.list-row {
  border-top: 1px solid #f4e7d4;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  position: relative;
}

.list-row.coming-soon {
  opacity: .15;
  cursor: not-allowed;
}

.list-item {
  z-index: 1;
  width: 35%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.list-item_desc {
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.list-item_title {
  font-family: Poppins, sans-serif;
}

.list-background-wrapper {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  display: flex;
  position: absolute;
}

.list-background {
  width: 100%;
  height: 0%;
  background-color: #f4e7d4;
}

.list-image-wrapper {
  z-index: 100;
  width: 20rem;
  height: 25rem;
  opacity: 0;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.list-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list-image.comng-soon_img {
  display: none;
}

.btn {
  color: #f4e7d4;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  font-family: Open Sans, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.35;
}

.foot-tooltip {
  margin-bottom: .5rem;
  position: relative;
}

.copied-email {
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.copied-email_text {
  color: #999;
  font-family: Apfelgrotezk, sans-serif;
  font-size: .625rem;
  transform: translate(0, 101%);
}

.work_description2 {
  width: 28.61%;
  margin-top: 1px;
}

.transition {
  z-index: 999999;
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.transition-content {
  width: 100%;
  height: 100vh;
  background-color: #f4e7d4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
}

.transtion-trigger {
  display: none;
}

.arrow-right {
  opacity: 0;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.about_links-line2 {
  width: 100%;
  height: 1px;
  background-color: #f4e7d4;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: translate(-101%);
}

.heading-3 {
  font-weight: 400;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .page-wrapper {
    overflow: hidden;
  }

  .page-padding, .nav-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .container.is-hero {
    padding-top: 10rem;
  }

  .container.is-work, .container.is-about {
    padding-top: 8rem;
  }

  .container.is-projects_title {
    padding-top: 3.5rem;
  }

  .hero_content2 {
    max-width: 100%;
  }

  .hero_content2.fade-up2 {
    margin-top: 8rem;
  }

  .work-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .work_description {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .work_item {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .work_visual {
    width: 100%;
  }

  .foot-cta_wrapper {
    flex-wrap: wrap;
  }

  .cta_content {
    text-align: left;
  }

  .abt_content {
    flex-flow: wrap;
  }

  .abt_left {
    width: 80%;
  }

  .abt_right {
    width: 100%;
    padding-top: 8rem;
  }

  .abt_button {
    width: 100%;
    margin-top: 5rem;
  }

  .gif_span.span-wrapper, .gif_span2.span-wrapper, .gif_span3.span-wrapper {
    width: 3.87rem;
    height: 2.5rem;
  }

  .cursor {
    display: none;
  }

  .about_text {
    font-size: 2rem;
  }

  .about-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .marquee {
    margin-top: -4rem;
  }

  .projects-padding {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .list-item {
    width: 45%;
  }

  .work_description2 {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .container.is-about {
    padding-top: 5.5rem;
  }

  .container.is-projects_list {
    padding-top: 4rem;
  }

  .container.is-projects-footer {
    padding-top: 5rem;
  }

  .foot-headline {
    font-size: 4rem;
  }

  .cta_button {
    width: 144px;
    height: 144px;
  }

  .abt_left {
    width: 100%;
  }

  .gif_span2.span-wrapper {
    margin-left: .8rem;
  }

  .about_content {
    align-items: flex-start;
  }

  .about_text {
    text-align: left;
    font-size: 1.5rem;
  }

  .about_links {
    margin-top: 2.5rem;
  }

  .projects-headng {
    width: 100%;
  }

  .recent-title {
    width: 100%;
    padding-top: 0;
    padding-bottom: .5rem;
    position: static;
  }

  .projects-title_heading {
    flex-direction: column;
    display: flex;
  }

  .projects-title_description {
    margin-top: 2.5rem;
  }

  .projects-headng_desc {
    width: 100%;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-direction: column;
  }

  .projects-title_h6 {
    width: 100%;
  }

  .list-item {
    width: 50%;
  }

  .list-item_desc, .list-item_title {
    font-size: 1.1rem;
  }

  .list-image-wrapper {
    display: none;
  }
}

@media screen and (max-width: 479px) {
  h1, h2 {
    font-size: 2rem;
  }

  h5 {
    font-size: .8rem;
  }

  .page-padding, .nav-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .container.is-work {
    padding-top: 5.5rem;
  }

  .container.is-footer {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
  }

  .container.is-contact {
    padding-top: 10rem;
  }

  .container.is-projects_title {
    padding-top: 1.5rem;
  }

  .hero_content2.fade-up2 {
    margin-top: 4.5rem;
  }

  .work-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .project_description {
    margin-top: 2rem;
  }

  .work_description_line {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .foot-cta_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .foot-headline {
    font-size: 2.7rem;
  }

  .cta_link {
    margin-top: 2rem;
  }

  .email-section {
    margin-top: 9rem;
  }

  .footer_content {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer_right {
    margin-bottom: 2rem;
  }

  .social_links {
    margin-left: 0;
    margin-right: 2rem;
  }

  .abt_right {
    padding-top: 3.5rem;
  }

  .abt_button {
    margin-top: 2.5rem;
  }

  .gif_span.span-wrapper, .gif_span2.span-wrapper, .gif_span3.span-wrapper {
    width: 3.1rem;
    height: 2rem;
  }

  .about_text {
    font-size: 1.2rem;
  }

  .about-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .about_container {
    width: 100%;
    align-items: flex-start;
  }

  .marquee {
    margin-top: -3rem;
  }

  .marquee.about-marquee {
    margin-top: 1rem;
  }

  .projects-padding {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .heading-2 {
    font-size: 1.13rem;
  }
}


@font-face {
  font-family: 'Pprightgrotesk';
  src: url('../fonts/PPRightGrotesk-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apfelgrotezk';
  src: url('../fonts/ApfelGrotezk-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Apfel grotezk fett 700';
  src: url('../fonts/Apfel-Grotezk-Fett-700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}